* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Lato';
  font-size: 14px;
}

Body {
  background: var(--white);
}

.main-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  background: var(--green);
  height: 100px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-container img {
  height: 60%;
  margin: auto 30px;
}

.login-container {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 50px;
  display: flex;
}

.login-form {
  height: 350px;
  width: 350px;
  background: var(--blue);
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.login-header {
  height: 50px;
  width: 320px;
  border-bottom: 3px solid var(--white);
  display: flex;
  margin: 0 auto;
}

.login-header h3 {
  color: var(--white);
  margin: auto;
  font-size: 20px;
}

.error {
  font-size: 20px;
  font-weight: 700;
  color: var(--red);
}

.login-input {
  padding: 15px;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.login-input p {
  margin-bottom: 10px;
  margin-top: 20px;
}

.login-input input {
  height: 35px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
}

.login-input input:focus {
  border: 1px solid var(--black);
}

.login-input a {
  margin: 15px auto;
  color: var(--black);
}

.login-form button {
  width: 150px;
  height: 35px;
  margin: auto;
  border-radius: 10px;
  border: none;
  background: var(--white);
  cursor: pointer;
}

.login-form button:hover {
  background: var(--green);
  color: var(--white);
}

.footer-container {
  height: 50px;
  background: var(--green);
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-container p {
  margin: auto;
  font-size: 16px;
}
